## Bağımlı İki Örneklem T Testi
Bağımlı iki grup ortalaması arasında karşılaştırma yapılmak istenildiğinde kullanılır.

---

**Problem:**<br>
Belirli uğraşlar sonucunda alınan bir eğitimin katma değer sağlayıp sağlamadığı ölçülmek isteniyor.


**Detaylar:**
- Bir departman bir konuda eğitim talep ediyor.
- Gerekli/gereksiz değerlendirmeleri netivesinde eğitim alınıyor.
- Eğitimden önce ve sonra olacak şekilde gerekli ölçümler yapılıyor.
- Eğitim sonrasında eğitimin sağladığı katma değer test edilmek isteniyor.

In [18]:
import pandas as pd
import numpy as np

oncesi = pd.DataFrame([123,119,119,116,123,123,121,120,117,118,121,121,123,119,
                      121,118,124,121,125,115,115,119,118,121,117,117,120,120,
                      121,117,118,117,123,118,124,121,115,118,125,115])

sonrasi = pd.DataFrame([118,127,122,132,129,123,129,132,128,130,128,138,140,130,
                       134,134,124,140,134,129,129,138,134,124,122,126,133,127,
                       130,130,130,132,117,130,125,129,133,120,127,123])

oncesi[0:5]

     0
0  123
1  119
2  119
3  116
4  123

In [19]:
sonrasi[0:5]

     0
0  118
1  127
2  122
3  132
4  129

In [24]:
ayrik = pd.concat([oncesi,sonrasi],axis=1)
ayrik.columns = ["öncesi","sonrasi"]
ayrik.head()

   öncesi  sonrasi
0     123      118
1     119      127
2     119      122
3     116      132
4     123      129

In [25]:
grup_oncesi = np.arange(len(oncesi))
grup_oncesi = pd.DataFrame(grup_oncesi)
grup_oncesi[:] = "öncesi"

A = pd.concat([oncesi,grup_oncesi],axis=1)
A.head()

     0       0
0  123  öncesi
1  119  öncesi
2  119  öncesi
3  116  öncesi
4  123  öncesi

In [27]:
grup_sonrasi = np.arange(len(sonrasi))
grup_sonrasi = pd.DataFrame(grup_sonrasi)
grup_sonrasi[:] = "sonrası"

B = pd.concat([sonrasi,grup_sonrasi],axis=1)
B.head()

     0        0
0  118  sonrası
1  127  sonrası
2  122  sonrası
3  132  sonrası
4  129  sonrası

In [29]:
birlikte = pd.concat([A,B])
birlikte

      0        0
0   123   öncesi
1   119   öncesi
2   119   öncesi
3   116   öncesi
4   123   öncesi
..  ...      ...
35  129  sonrası
36  133  sonrası
37  120  sonrası
38  127  sonrası
39  123  sonrası

[80 rows x 2 columns]

In [31]:
birlikte.columns = ["performans","öncesi sonrası"]
birlikte.head()

   performans öncesi sonrası
0         123         öncesi
1         119         öncesi
2         119         öncesi
3         116         öncesi
4         123         öncesi

In [32]:
import seaborn as sns

sns.boxplot(x="oncesi_sonrasi",y="performans",data=birlikte)

ValueError: Could not interpret input 'oncesi_sonrasi'